<!DOCTYPE html>
 <html>
 <head>
 	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
 </head>
   <body>
 	<h1>Welcome, <%= @user.name %>! Thank you for registering with us!</h1> 
 	<p>You can now use our websites to book your tickets to concerts around the country</p>  
 	<p>Ticket Central</p> 
   </body> 
 </html> 
